@model Web.Models.CodeSample
@{
    ViewBag.Title = "Demos - " + Model.Title;
}
<style>
    .null, .boolean {
        color: blue;
        font-weight: bold;
    }

    .number {
        color: red;
    }

    .string {
        color: green
    }

    .key {
        font-weight: bold;
    }

    ul.file-tree, .file-tree ul {
        list-style-type: none;
        padding-left: 10px;
    }

        ul.file-tree li, .file-tree ul li {
            list-style-type: none;
        }
        .file-tree .fa-file {
            cursor: pointer;
            color: blue;
        }
    .file-tree li[data-path] {
        cursor: pointer;
    }
</style>

<h2>Example file browser</h2>
<div class="row" style="min-height: 0.7vh">
    <div class="col-lg-4" style="overflow: scroll" id="example-files">
        <ul class="main-files">
            <li></li>
        </ul>
        @Html.Raw(Model.Files.GenerateList())
    </div>
    <div class="col-lg-8" id="file-content">

    </div>
</div>


@section scripts
{
    <script>
        function syntaxHighlight(json) {
            if (typeof json != 'string') {
                json = JSON.stringify(json, undefined, 2);
            }
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
        $(document).ready(function () {
            $('pre code').each(function (i, block) {
                hljs.highlightBlock(block);
            });
        });
        $('#example-files li[data-path=*]').click(function(e) {
            console.log(this);
        });
        var routeName = '@Model.RouteSection';
        $('#example-files')
            .click(function(e) {
                e.preventDefault();
                var url = '@Url.Content("~/sample/download/" + Model.Filename + "/" + Model.Section)' +
                    $(this).attr('href');
                $.get(url,
                    function(data) {
                        if (@(Model.Filename.EndsWith(".html")?"true":"false")) {
                            data = data.replace(/\</g, "&lt;");
                        }
                        $('#file-content').html(data);
                    });
            });
    </script>
    @Html.Raw(Model.Script)
}


