@using Web.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Griffin.Yo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="@Url.Content("~/Content/github.css")">
    <script src="@Url.Content("~/Scripts/highlight.pack.js")"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fullwidth">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Griffin.Yo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Samples <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (CodeSample sample in ViewBag.Samples)
                            {
                                <li><a href="@Url.Content("/sample/" + sample.Filename)" title="@sample.Description">@sample.Section - @sample.Title</a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Jonas Gauffin</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        Griffin.Yo.GlobalConfig.resourceLocator.getHtml = function (section) {
            return '@Url.Content("~/Sample/Html/")' + section + ".html";
        }
        Griffin.Yo.GlobalConfig.resourceLocator.getScript = function (section) {
            return '@Url.Content("~/Sample/Script/")' + section + "ViewModel.js";
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
